

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1000;
    background: var(--green);
   width: 100%;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}
.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.nav-log{
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:4rem;
   
}
.head-log{
    font-size:4rem; 
    padding: 6px ;
    color: #fff;
}
.nav-list{
    display: flex;
    list-style: none;
   
}
.nav-link{
    font-size: 1.6rem;
    color: #fff;
    padding: 8px 16px;
  

}
.info-list{
    display: flex;
    list-style: none;
}
.info-item a{
    font-size: 1.6rem;
    color: var(--brown);
    padding: 8px 16px;
    text-decoration: none;

}

/* carousel */
.carousel{
    padding-top: 14rem;
    background: url("../images/546b10443c7eaf4a392113d6c7fcb6f2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
}
@keyframes fadeLeft {
    0%{
        opacity: 0;
        transform: translateY(-5rem);
    }
}

@keyframes fadeUp {
    0%{
        opacity: 0;
        transform: scale(0.5);
    }
}

.slides-container .slide{
    width: 100%;
    display:flex ;
    align-items: center;
    gap: 1.5rem;
  
   
    
}

 .slide .content{
  width: 50%;
    animation: fadeLeft .4s linear .4s backwards;
}
.slide .img{
    width: 50%;
   
}
.slide .content span{
    color: #000;
    font-size:2.5rem;
}
.slide.img{
   width: 50%;
    margin: 3rem 0;
}
.img img{
    width: 100%;
    animation: fadeUp .4s linear;
}
.content span{
    color: #000;
    font-size:2.5rem;
}

.content h3{
    font-size:4rem;
    color: #222;
    padding:.5rem 0;
}
.fade{
    display: none;
}
.show{
   display: block;
}
#prev-slide{
    left:2rem;
}

 #next-slide{
    right:2rem;
}
#next-slide,
 #prev-slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    border:0.1rem solid rgba(0,0,0,0.7);
    text-align: center;
    background: var(--btn);
    font-size:2rem;
    color: #fff;
    cursor: pointer;
}
#next-slide:hover,
 #prev-slide:hover{
    background:#222;
    color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}
/*box catery */
.catery{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-catery{
margin: 16px 0;
    position: relative;
    overflow: hidden;
   
}
.box-img{
width: 100%;
object-fit: cover;
}
.box-img img{
    width: 100%;
    height: 312px;
}
.box-img:hover{
    transform: scale(1.1);
}

.btn-catery{

    position: absolute;
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
background-color: var(--btn);

text-align: center;
display: none;
border-radius: 20px;
}
.btn-link{
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    padding: 8px 16px;
    display: inline-block;
   

}
.btn-link:hover{
    color: #fff;
}
.box-catery:hover .btn-catery{
    display: block ;
}
/*  product*/
.products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 32px 0;
}
.card-list{
    list-style: none;
    padding: 0;
    font-size: 1.6rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}
.card-item{
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-item_img{
    width: 100%;
    overflow: hidden;
   
   
}
.card-item_img img{
    height: 280px;
    width: 100%;
    object-fit: cover;
}
.card-link{
    color: #fff;
}
.card-img{
    width: 100%;
    object-fit: cover;
}
.card-item_img:hover .card-img{
    transform: scale(1.1);
}
.box-siderbar{
    padding: 0 16px;
}
/* baner */
.banner{
    position: relative;
}
.baner-img{
    width: 100%;
    height: 400px;
    object-fit:cover ;
    
}
.baner-head{
   
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
color: #fff;
font-size: 4rem;
text-align: center;
}
/* head */
.head{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 16px 0;
    border-bottom: 1px solid #140101;

   
}
/* gallsery */
.container-gallsery{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view-all{
    font-size: 16px;
}
/* contact */
.container-register{
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}
.box-touch{
    width: 100%;
    background-color: var(--green);
   
    padding: 16px ;
}
.info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.box-map{
    width: 100%;
    height: 100%;
}
.map{
    width: 100%;
    height: 100%;  
}
/* about */
.container-about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:32px 0;
}
.card-about-list{
    list-style: none;
    text-align: center;
    padding: 0 16px;
    font-size: 1.6rem;
}
.card-about-item{
    padding: 16px 0;
}
.card-about-item_link{
    text-decoration: none;
    display: inline-block;
   background: var(--btn);
   padding: 8px 16px;
   border-radius: 20px;
   color: #000;

}
/* blog */
.container-blog{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-blog-list{
    background-color: #fff;
    width: 80%;
    list-style: none;
    text-align: center;
    font-size: 1.6rem;
    align-items: center;
    padding: 8px 16px;
    margin: 32px 0;
}
.card-blog-item{
padding: 8px 0;
}
.card-blog-item span{
    border-bottom: 1px solid #000;
}
.card-blog-item_link{
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    
}

.card-background{
display: flex;
align-items: center;
justify-content: center;
margin: 32px 0;
background-size: cover;
background-position: center;

}
/* page detail  */
.container-detail{
margin: 32px 0;
}
.container-detail{
    display: flex;
    justify-content:space-between;
}
.container-detail img{
    width: 100%;
}
.card-detail_list{
    list-style: none;
    width: 60%;


}

.card-detail_item{
    padding: 16px;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;

}
.detail_img img{
   height: 400px;
   object-fit: cover;
}


.card-detail_item span{
    font-size: 1.4rem;
}
.card-detail_link{
    width: 100%;
    text-decoration: none;
    display: inline-block;
    background: var(--btn);
    padding: 8px 16px;
    font-size: 1.6rem;
    text-align: center;
    border-radius: 5px;

}
.detail-list-titel{
    list-style: none;
    padding: 16px 0;

}
.detail-item-titel{
    padding: 16px 0;
    border-bottom:  1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.detail-item-titel i{
    font-size: 1.6rem;
}
/* cart page */
.cart-detail{
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
  flex-wrap: wrap;
  
  }
  .cart__img{
  width: 100%;
  }
  .cart-card{
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #ccc;
  }
  .cart-list_head{
    width: 100%;
    display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
   height: 50px;
  
    padding: 0;
    margin: 0;
  }
  
  .cart-list{
    width: 100%;
    color: #ebe4e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  
    padding: 0;
    margin: 0;
  }
  .cart-item_name{
    width: 20%;
  
  font-size: 1.4rem;
  }
  
  .item-head {
    display: grid;
  
  }
  .item-head span{
    font-size: 1.6rem;
  
  }
  .cart-item__product img{
  width:40%;
  height: 76px;
  object-position: 15% 100%;
  object-fit: cover;
  
  }
  .item-head {
    width: 50%;
  }
  .cart-item__product{
    width: 30%;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    color: #0e0d0d;
  
  }
  .cart-item{
  width: 15%;
  font-size: 1.4rem;
  color: #171717;;
  }
  .cart-item input{
    width: 70%;
  }
  .total-product{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    width: 100%;
    margin: auto;
  
  }
  .total-product__list{
  list-style: none;
  padding: 0;
  }
  .total-product__item{
    display: flex;
    justify-content: space-between;
    padding: 8px 26px;
    font-size: 1.6rem;
  }
  .suptotal{
     font-size: 2.4rem;
     color: #12cf35;
  }
  .total-product__head .head__total{
   font-size: 1.6rem;
  text-align: center;
  padding-top: 8px;
  
  }
  .head__total a{
    color: #159315;
    text-decoration: none;
  }
  .btn-continue{
   width: 100%; 
  }
  .total-product__head{
    padding: 26px;
  
  }
  .cart-no-product{
  text-align: center;
  color: var(--text-color);
  
  }
  .cart-no-product p{
    font-size: 3rem;
  }
  .icon-not-product{
    color: var(--text-color);
    font-size: 20rem;
  }
  
   .cart-item_link{
    color: #f38a8a;
    cursor: pointer;
    padding-right: 16px;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .count-price{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .count-price_btn{
    width: 30px;
    background-color: var(--green);
    border-radius: 2px;
  }
  .count-price input{
    text-align: center;
    background-color: var(--btn);
    color: #fff;
  }
/* footer */
.footer{
    background:var(--green);
  margin-top: 32px;
    
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}



.footer .box-container .box h3{
    font-size: 2.2rem;
    color: #222;
    padding:1rem 0;
}


.footer .box-container .box p{
    font-size: 1.5rem;
    color: #000;
    padding-bottom: .5rem;
}

.footer .box-container .box a{
    font-size: 1.4rem;
    color: #000;
    padding:1rem 0;
    display:block;
}

.footer .box-container .box a:hover{
    color: #fff;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color: #000;
}

.footer .box-container .box form input[type="email"]{
    width: 100%;
    padding:1rem 1.2rem;
    font-size: 1.6rem;
    color: #000;
    margin: 1rem 0;
    text-transform: none;
}

.footer .box-container .box .payments{
    width: 100%;
    margin-top: 2rem;
}
/* Shop page*/
.bg-product{
padding-top: 14rem;
    background-position: center;
    position:relative;
    width: 100%;
    height: 300px;
 
}
.container-product{
    width: 100%;
    height: 100%;
   }
   .container-shop__conten{
    display: flex;

}
.container-sidebar{
    width: 100%;
    padding: 18px 0;
   
}
.product-list__type {
    padding: 0;
    list-style: none;
  }
  .product-link_all {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    background-color: #25be80;
    color: #fff;
    cursor: pointer;
  
    padding: 8px;
  }
  .product-link_all:hover {
    color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    background-color: var(--brown);
  }
  .product-item__type {
    width: 100%;
    background-color: #25be80;
    border-bottom: 1px solid #ccc;
    padding: 4px 0;
  }
  .product-link__type1 {
    width: 100%;
    text-decoration: none;
    color:#25be80;
    background-color: #fff;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    text-align: left;
  }
  .product-link__type1:hover {
    color: #113d51;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    background-color: var(--brown);
  }
  .product-link__type {
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
  }
  
  
  .product-link__type:hover {
    color: #7b9aa7;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    background-color: var(--brown);
  }
.search{
    background-color: #25be80;
margin-top: 5%;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    display: block;
    height: 100%;
}
.list-search{
    padding:0;
    list-style: none;


}
.item-search {
    font-size: 1.6rem;
    padding: 8px 16px;
  
    width: 100%;
  }
  
  .item-price {
    background-color: #b43f11;
  }
  .input-check {
    display: flex;
    align-items: center;
  }
  .input-check span {
    padding: 10px;
  }
  
  .search-name {
    width: 100%;
  }
  .item-search select {
    width: 100%;
  }
  .span-title {
    font-size: 1.8rem;
  }
  .dropdown-container>a{
    display:none ;
    background-color: #fff;
    color:#25be80;
    padding: 2px;
  }
  .fa-caret-down{
    float: right;
    padding-right: 8px;
  }
  /* product page */
  .list-name_product{
    list-style: none;
    padding: 0;
   

  }
  .item-name_product{
    padding: 4px 0;
    font-size: 1.6rem;
    background-color: var(--green);
    border-bottom: 1px solid #ccc;

  }
  .item-name_product a{
    text-decoration: none;
    color:#000;
    display: inline-block;
    width: 100%;
    padding: 8px 16px;
  }
  .item-name_product a:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
    background-color: #fff;
  }