<div ng-controller="homeCtrl">
    <div class="carousel">

        <div class="container">
            <div class="slides-container">
                <div class="fade show">
                    <div class="slide">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="../images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="fade">
                    <div class="slide ">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="../images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="fade">
                    <div class="slide ">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="../images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="fade">
                    <div class="slide">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="../images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="next-slide" class="fas fa-angle-right" ng-click="next()"></div>
        <div id="prev-slide" class="fas fa-angle-left" ng-click="prev()"></div>

    </div>
    <!-- catelogy -->
    <div class="container ">
        <div class="catery">

            <div class="box-catery wd-thir ">
                <div class="box-img">
                    <img src="./images/bonsai-1.webp" alt="" class="box-img">
                </div>

                <div class="btn-catery">
                    <a href="" class="btn-link"><i class="fa-solid fa-plus"></i> Add to cart</a>
                </div>
            </div>
            <div class="box-catery wd-thir ">
                <div class="box-img">
                    <img src="./images/bonsai-1.webp" alt="" class="box-img">
                </div>

                <div class="btn-catery">
                    <a href="" class="btn-link"><i class="fa-solid fa-plus"></i> Add to cart</a>
                </div>
            </div>
            <div class="box-catery wd-thir ">
                <div class="box-img">
                    <img src="./images/bonsai-1.webp" alt="" class="box-img">
                </div>

                <div class="btn-catery">
                    <a href="" class="btn-link"><i class="fa-solid fa-plus"></i> Add to cart</a>
                </div>
            </div>

        </div>
        <div class="bar">

        </div>
        <div class="products">
            <div class="card-product wd-for">
                <ul class="card-list">
                    <li class="card-item"><img src="./images/bonsai-1.webp" alt="" class="card-img">Prudcut name</li>
                    <li class="card-item">descrition</li>
                    <li class="card-item">$100</li>
                    <li class="card-item"><a href="" class="card-link btn">Add to card</a></li>
                </ul>
            </div>
            <div class="card-product wd-for">
                <ul class="card-list">
                    <li class="card-item"><img src="./images/bonsai-1.webp" alt="" class="card-img">Prudcut name</li>
                    <li class="card-item">descrition</li>
                    <li class="card-item">$100</li>
                    <li class="card-item"><a href="" class="card-link btn"> <i class="fa-solid fa-plus"></i>Add to
                            card</a></li>
                </ul>
            </div>
            <div class="card-product wd-for">
                <ul class="card-list">
                    <li class="card-item"><img src="./images/bonsai-1.webp" alt="" class="card-img">Prudcut name</li>
                    <li class="card-item">descrition</li>
                    <li class="card-item">$100</li>
                    <li class="card-item"><a href="" class="card-link btn">Add to card</a></li>
                </ul>
            </div>
            <div class="card-product wd-for">
                <ul class="card-list">
                    <li class="card-item"><img src="./images/bonsai-1.webp" alt="" class="card-img">Prudcut name</li>
                    <li class="card-item">descrition</li>
                    <li class="card-item">$100</li>
                    <li class="card-item"><a href="" class="card-link btn">Add to card</a></li>
                </ul>
            </div>

        </div>

        <div class="banner">

            <img src="./images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="" class="baner-img">
        </div>

    </div>
</div>