<div ng-controller="homeCtrl">
    <div class="carousel">

        <div class="container">
            <div class="slides-container">
                <div class="fade show">
                    <div class="slide">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="../images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="fade">
                    <div class="slide ">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="../images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="fade">
                    <div class="slide ">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="../images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="fade">
                    <div class="slide">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="../images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="next-slide" class="fas fa-angle-right" ng-click="next()"></div>
        <div id="prev-slide" class="fas fa-angle-left" ng-click="prev()"></div>

    </div>
    <!-- catelogy -->

    <div class="container ">
        <div class="catery">

            <div class="box-catery wd-thir ">
                <div class="box-img">
                    <img src="./images/bonsai-1.webp" alt="" class="box-img">
                </div>

                <div class="btn-catery">
                    <a href="" class="btn-link"><i class="fa-solid fa-plus"></i> Add to cart</a>
                </div>
            </div>
            <div class="box-catery wd-thir ">
                <div class="box-img">
                    <img src="./images/bonsai-1.webp" alt="" class="box-img">
                </div>

                <div class="btn-catery">
                    <a href="" class="btn-link"><i class="fa-solid fa-plus"></i> Add to cart</a>
                </div>
            </div>
            <div class="box-catery wd-thir ">
                <div class="box-img">
                    <img src="./images/bonsai-1.webp" alt="" class="box-img">
                </div>

                <div class="btn-catery">
                    <a href="" class="btn-link"><i class="fa-solid fa-plus"></i> Add to cart</a>
                </div>
            </div>

        </div>

    </div>
    <div class="banner">

        <img src="./images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="" class="baner-img">
        <h1 class="baner-head">Our Products</h1>
    </div>
    <!-- product -->
    <div class="container">
        <div class="head">
            <h1> Our <span class="span-text"> Products</span> </h1>
            <span class="view-all">View All >></span>
        </div>
        <div class="products">
            <div class="card-product wd-for">
                <ul class="card-list">
                    <li class="card-item_img"><img src="./images/bonsai-1.webp" alt="" class="card-img">
                    </li>
                    <li class="card-item">Product Name</li>
                    <li class="card-item">descrition</li>
                    <li class="card-item">$100</li>
                    <li class="card-item"><a href="" class="card-link btn">Add to card</a></li>
                </ul>
            </div>
            <div class="card-product wd-for">
                <ul class="card-list">
                    <li class="card-item_img"><img src="./images/bonsai-1.webp" alt="" class="card-img">
                    </li>
                    <li class="card-item">Product Name</li>
                    <li class="card-item">descrition</li>
                    <li class="card-item">$100</li>
                    <li class="card-item"><a href="#!detail" class="card-link btn">Add to card</a></li>
                </ul>
            </div>
            <div class="card-product wd-for">
                <ul class="card-list">
                    <li class="card-item_img"><img src="./images/bonsai-1.webp" alt="" class="card-img">
                    </li>
                    <li class="card-item">Product Name</li>
                    <li class="card-item">descrition</li>
                    <li class="card-item">$100</li>
                    <li class="card-item"><a href="" class="card-link btn">Add to card</a></li>
                </ul>
            </div>
            <div class="card-product wd-for">
                <ul class="card-list">
                    <li class="card-item_img"><img src="./images/bonsai-1.webp" alt="" class="card-img">
                    </li>
                    <li class="card-item">Product Name</li>
                    <li class="card-item">descrition</li>
                    <li class="card-item"> Price :$100</li>
                    <li class="card-item"><a href="" class="card-link btn">Add to card</a></li>
                </ul>
            </div>



        </div>

    </div>
    <!-- about -->
    <div class="banner">

        <img src="./images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="" class="baner-img">
        <h1 class="baner-head">Our About</h1>
    </div>
    <div class="container">

        <div class="container-about">
            <div class="card-about wd-thir">
                <ul class="card-about-list">
                    <li class="card-about-item">
                        <h1>Decide</h1>
                    </li>
                    <li class="card-about-item"><img src="./images/what-we-are-about-decide.png" alt=""
                            class="card-about-item_img">
                        <p>
                            Choose from hundreds of varieties of trees and shrubs not available at your local nursery -
                            all from the comfort of your couch. Skip the trip and plan your landscape like it's 2022!
                        </p>
                    </li>
                    <li class="card-about-item"><a href="" class="card-about-item_link">Read me</a></li>
                    <li class="card-about-item"></li>
                </ul>
            </div>
            <div class="card-about wd-thir">
                <ul class="card-about-list">
                    <li class="card-about-item">
                        <h1>Arrive</h1>
                    </li>
                    <li class="card-about-item"><img src="./images/what-we-are-about-arrive.png" alt=""
                            class="card-about-item_img">
                        <p>
                            Choose from hundreds of varieties of trees and shrubs not available at your local nursery -
                            all from the comfort of your couch. Skip the trip and plan your landscape like it's 2022!
                        </p>
                    </li>
                    <li class="card-about-item"><a href="" class="card-about-item_link">Read me</a></li>
                    <li class="card-about-item"></li>
                </ul>
            </div>
            <div class="card-about wd-thir">
                <ul class="card-about-list">
                    <li class="card-about-item">
                        <h1>Thrive</h1>
                    </li>
                    <li class="card-about-item"><img src="./images/what-we-are-about-thrive.png" alt=""
                            class="card-about-item_img">
                        <p>
                            Choose from hundreds of varieties of trees and shrubs not available at your local nursery -
                            all from the comfort of your couch. Skip the trip and plan your landscape like it's 2022!
                        </p>
                    </li>
                    <li class="card-about-item"><a href="" class="card-about-item_link">Read me</a></li>
                    <li class="card-about-item"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="banner">

        <img src="./images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="" class="baner-img">
        <h1 class="baner-head">Our Gallsery</h1>
    </div>
    <div class="container">
        <div class="head">
            <h1> Our <span class="span-text"> Gallsery</span> </h1>
            <span class="view-all">View All >></span>
        </div>
        <div class="container-gallsery">
            <div class="box-catery wd-thir ">
                <div class="box-img">
                    <img src="./images/bonsai-1.webp" alt="" class="box-img">
                </div>

                <div class="btn-catery">
                    <a href="" class="btn-link"><i class="fa-solid fa-plus"></i> Add to cart</a>
                </div>
            </div>
            <div class="box-catery wd-thir ">
                <div class="box-img">
                    <img src="./images/bonsai-1.webp" alt="" class="box-img">
                </div>

                <div class="btn-catery">
                    <a href="" class="btn-link"><i class="fa-solid fa-plus"></i> Add to cart</a>
                </div>
            </div>
            <div class="box-catery wd-thir ">
                <div class="box-img">
                    <img src="./images/bonsai-1.webp" alt="" class="box-img">
                </div>

                <div class="btn-catery">
                    <a href="" class="btn-link"><i class="fa-solid fa-plus"></i> Add to cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">

        <img src="./images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="" class="baner-img">
        <h1 class="baner-head">Our Blog</h1>
    </div>
    <!-- blog -->
    <div class="container">
        <div class="head">
            <h1> Our <span class="span-text"> Our Blog</span> </h1>
            <span class="view-all">View All >></span>
        </div>
        <div class="container-blog">
            <div class="card-background wd-thir" style="background: url(./images/how-to-plant-azalea-scaled.webp);">

                <ul class="card-blog-list">
                    <li class="card-blog-item">
                        <span>PLANTING GUIDES</span>
                    </li>
                    <li class="card-blog-item">
                        <a class="card-blog-item_link">How To Plant Rhododendrons, Azaleas and Camellias</a>
                    </li>
                    <li class="card-blog-item">
                        <p>A whole group of plants have developed to live in acid soil conditions where other plants
                            will not do so well. Top of the list for gardeners are Rhododendrons and Azaleas, closely
                            followed by Camellias and since large parts of the country have acid soils, these plants are
                            often easy to grow. </p>
                    </li>

                </ul>
            </div>
            <div class="card-background wd-thir"
                style="background-image: url(./images/how-to-plant-deciduous-tree-scaled.webp);">

                <ul class="card-blog-list">
                    <li class="card-blog-item">
                        <span>PLANTING GUIDES</span>
                    </li>
                    <li class="card-blog-item">
                        <a class="card-blog-item_link">How To Plant Rhododendrons, Azaleas and Camellias</a>
                    </li>
                    <li class="card-blog-item">
                        <p>A whole group of plants have developed to live in acid soil conditions where other plants
                            will not do so well. Top of the list for gardeners are Rhododendrons and Azaleas, closely
                            followed by Camellias and since large parts of the country have acid soils, these plants are
                            often easy to grow. </p>
                    </li>

                </ul>
            </div>
            <div class="card-background wd-thir"
                style="background: url(./images/how-to-plant-deciduous-shrub-scaled.webp);">

                <ul class="card-blog-list">
                    <li class="card-blog-item">
                        <span>PLANTING GUIDES</span>
                    </li>
                    <li class="card-blog-item">
                        <a class="card-blog-item_link">How To Plant Rhododendrons, Azaleas and Camellias</a>
                    </li>
                    <li class="card-blog-item">
                        <p>A whole group of plants have developed to live in acid soil conditions where other plants
                            will not do so well. Top of the list for gardeners are Rhododendrons and Azaleas, closely
                            followed by Camellias and since large parts of the country have acid soils, these plants are
                            often easy to grow. </p>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="banner">

        <img src="./images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="" class="baner-img">
        <h1 class="baner-head">Our Contact</h1>

    </div>
    <div class="container ">
        <div class="container-register ">
            <div class="wd-haft">
                <div class="box-touch sadow">
                    <form name="touch">
                        <h3>Get in Touch</h3>
                        <div class="info">
                            <input type="text" class="info-name wd-haft" placeholder="Enter your name" />
                            <input type="email" class="info-email wd-haft" placeholder="Enter your email" />
                        </div>
                        <div class="info">
                            <input type="text" class="info-number wd-haft" placeholder="Enter your number" />
                            <input type="email" class="info-subject wd-haft" placeholder="Enter your  subject" />
                        </div>
                        <div class="info">
                            <textarea name="message" id="message" cols="30" rows="10"></textarea>
                        </div>
                        <a type="submit" class="btn">Send message</a>
                    </form>
                </div>
            </div>
            <div class="wd-haft">
                <div class="box-map">
                    <iframe class="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d462560.3011806427!2d54.947543798608436!3d25.076381472700536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43496ad9c645%3A0xbde66e5084295162!2sDubai%20-%20United%20Arab%20Emirates!5e0!3m2!1sen!2sin!4v1642496355732!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>

        </div>
    </div>

</div>
</div>