<div ng-controller="homeCtrl">
    <div class="carousel">

        <div class="container">
            <div class="slides-container">
                <div class="fade show">
                    <div class="slide">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="../images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="fade">
                    <div class="slide ">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="../images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="fade">
                    <div class="slide ">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="../images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="fade">
                    <div class="slide">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="../images/546b10443c7eaf4a392113d6c7fcb6f2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="next-slide" class="fas fa-angle-right" ng-click="next()"></div>
        <div id="prev-slide" class="fas fa-angle-left" ng-click="prev()"></div>

    </div>
</div>